* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
.navi-items {
  margin-top: 50px;
}

.carousal-edit {
  border-radius: 10px;
  margin-top: 0px;
}
.carousel-item {
  padding: 20px 40px;
}
/* .img-edit-width {
  width: 100px;
} */
.buy-now-button {
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 9px 25px;
  cursor: pointer;
}
p {
  color: #969595;
  margin: 25px 0;
}
.border-shadow {
  box-shadow: 10px 10px 30px rgb(202, 201, 201);
  border-radius: 8px;
}
.card {
  border: none;
  padding: 20px 15px;
  text-align: center;
}
.container {
  margin-bottom: 100px;
}
.catagories-text {
  border: 5px solid orange;
  height: 0.5px;
  width: 150px;
  margin-left: 43%;
  border-radius: 10px;
}
.catagory-row1 {
  max-width: 45%;
}
.catagories-2 {
  margin-top: 50px;
}
.catagories-2-img {
  height: 250px;
  width: 250px;
  padding: 40px;
  margin-top: 40px;
  box-shadow: 5px 5px 40px rgb(226, 225, 225);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 25px;
  text-align: center;
}

.catogories-bag {
  margin-top: 200px;
}

.catogories-bag {
  box-shadow: 5px 5px 40px rgb(224, 224, 224);
  height: 250px;
  width: 250px;
  padding: 30px 60px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 25px;
  text-align: center;
}
.catagories img {
  padding: 50px;
  width: 120%;
  margin-right: 50px;
  margin-top: 50px;
}

.carousel-indicators li {
  background-image: linear-gradient(gray, lightgray);
  border: 10px;
  width: 10px;
  height: 9px;
  border-radius: 10px;
}
.carousel-indicators li:hover {
  background-image: linear-gradient(rgb(248, 164, 95), rgb(248, 148, 54));
  border: 10px;
  width: 25px;
  height: 9px;
  border-radius: 10px;
}
